// COLORS PALETTE
$primary: #F2EC54;
$secondary: #FFFEF0;
$gray: #a7b0be;
$gray-700: #3F3F46;
$white: #fff;
$black: #000;
$red: #f00;
$blue: #00f;
$iris: #5D5FEF;
$gree: #0f0;
$dark-clear: #666666;
$dark-medium: #52525B;
$dark: #27272A;

//util
$box-shadow: 0px 0px 18px -1px rgba(194, 181, 204, 0.16);

//Radius
$radius100: 100%;
$radius25: 25px;
$radius15: 15px;
$radius10: 10px;
$radius8: 8px;
$radius5: 5px;

//-------------------//
//       FONTS       //
//-------------------//
$work: 'Work Sans', sans-serif;

$weight-bold: 700;
$weight-semibold: 600;
$weight-medium: 500;
$weight-regular: 400;

// Font Sizing
$px60: 3.75rem;
$px54: 3.375rem;
$px48: 3rem;
$px42: 2.652rem;
$px36: 2.25rem;
$px32: 2rem;
$px30: 1.875rem;
$px27: 1.688rem;
$px24: 1.5rem;
$px20: 1.25rem;
$px18: 1.125rem;
$px16: 1rem;
$px14: 0.875rem;
$px13: 0.813rem;
$px12: 0.75rem;
$px10: 0.625rem;
